@media (min-width: 1919px) {
	.intro-content {
		margin-top: -200px;
	}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1269px) {
	.intro-content {
		margin-top: -100px;
	}
	.layer-1 h2 {
		font-size: 34px;
		line-height: 42px;
	}
	.layer-2 p {
		font-size: 15px;
	}
	.header-area-2 .header-right-link,
	.header-right-link {
		margin-left: 10px;
	}
	.single-service h3 {
		font-size: 25px;
		line-height: 36px;
	}
	.single-service {
		padding: 30px 20px;
	}
	.single-service p {
		font-size: 13px;
	}
	.cha-icon {
		margin-right: 15px;
		font-size: 36px;
	}
	.cha-title {
		font-size: 18px;
	}
	.digital-content h4 {
		font-size: 17px;
	}
	.intro-area-2 .intro-content {
		margin-top: -110px;
	}
	.intro-area-2 .layer-1 h2 {
		font-size: 56px;
		line-height: 70px;
		max-width: 800px;
	}
	.wel-content h4 {
		font-size: 17px;
	}
	.blog-content {
		padding: 30px 20px;
	}
	.right-side {
		padding-left: 20px;
	}
	.review-head h3 {
		font-size: 27px;
		line-height: 40px;
	}
	.achive-image {
		width: 40%;
	}
	.slide-all-text {
		margin-top: 30px;
	}
	.top-price-inner::after {
		border-top: 100px solid #0c54ad;
		border-left: 120px solid transparent;
		border-right: 120px solid transparent;
		bottom: -40px;
	}
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.logo a {
		padding: 17px 0;
	}
	.header-right-link {
		width: 120px;
		margin-left: 10px;
		padding: 25px 0px;
	}
	.layer-1 h2 {
		font-size: 32px;
		line-height: 40px;
		max-width: 460px;
		margin-bottom: 10px;
	}
	.layer-2 p {
		font-size: 15px;
		line-height: 24px;
		max-width: 400px;
		margin-bottom: 0px;
	}
	.intro-content {
		margin-top: -70px;
	}
	.intro-area-2 .slide-top-image {
		left: 40%;
		top: -30%;
	}
	.main-menu ul.navbar-nav li a,
	.header-area.stick .main-menu ul.navbar-nav li a {
		font-size: 15px;
		padding: 30px 7px;
	}
	.main-menu ul.nav li .mega-menu {
		width: 720px;
		left: -54%;
	}
	.main-menu > ul.navbar-nav > li > a::before,
	.header-area.stick .main-menu > ul.navbar-nav > li > a::before {
		left: 9px;
		bottom: 25px;
	}
	.footer1 .suscribe-input button {
		font-size: 14px;
		padding: 10px 5px;
		width: 46%;
	}
	.footer1 .suscribe-input input {
		width: 54%;
	}
	.footer-list {
		width: 100%;
		float: none;
	}
	.footer-list li a {
		font-size: 15px;
	}
	.topbar-left ul li a {
		margin-right: 10px;
	}
	.s-menu {
		padding: 10px 8px;
		font-size: 13px;
	}
	.ready-btn {
		font-size: 16px;
		padding: 8px 14px;
	}
	.ab-btn {
		margin-top: 10px;
	}
	.single-service h3 {
		font-size: 28px;
	}
	.single-service p {
		font-size: 14px;
	}
	.cha-icon {
		display: none;
	}
	.cha-title {
		font-size: 18px;
		width: 100%;
	}
	.machine-text h3 {
		font-size: 22px;
		line-height: 32px;
	}
	.machine-text p {
		display: none;
	}
	.achive-number {
		font-size: 32px;
		line-height: 44px;
	}
	.single-achive {
		padding: 30px 10px;
	}
	.achivement-text h4 {
		font-size: 17px;
		line-height: 24px;
	}
	.digital-wel {
		padding: 30px 10px;
	}
	.digital-content h4 {
		font-size: 15px;
		line-height: 24px;
	}
	.project-dec h4 {
		font-size: 20px;
	}
	.project-dec p {
		font-size: 15px;
	}
	.section-headline h3 {
		font-size: 32px;
		line-height: 40px;
	}
	.header-area-2 .header-right-link {
		margin-left: 30px;
	}
	.intro-area-2 .layer-1 h2 {
		font-size: 36px;
		line-height: 46px;
		max-width: 500px;
	}
	.intro-area-2 .layer-2 p {
		max-width: 430px;
		margin: 0px auto 10px;
	}
	.proses-text h4 {
		font-size: 18px;
	}
	.breadcrumb {
		padding: 200px 0px 150px;
	}
	.suscribe-input {
		width: 100%;
	}
	.footer-content.logo-footer {
		padding-right: 0px;
	}
	.page-head-left {
		margin-right: 0px;
	}
	.left-menu {
		padding: 20px 16px;
	}
	.down-btn {
		font-size: 15px;
	}
	.down-btn i {
		margin-right: 10px;
	}
	.single-page-head .clients-testi {
		padding: 30px 20px;
	}
	.single-page-head .review-text p {
		font-size: 14px;
	}
	.single-well h3 {
		font-size: 26px;
	}
	.single-well h4 {
		font-size: 22px;
	}
	.single-well.last-content {
		margin-top: 30px;
	}
	.project-details h3 {
		font-size: 23px;
	}
	.right-side {
		padding-left: 0px;
	}
	.blog-search-option input {
		width: 75%;
	}
	.recent-single-post .post-img {
		display: none;
	}
	.recent-single-post .pst-content {
		padding-left: 0px;
	}
	.related-post-list .recent-single-post:last-child {
		padding: 0px 0px 0px 10px;
	}
	.related-post-list .recent-single-post {
		padding: 0px 10px 0px 0px;
	}
	.contact-icon {
		padding: 30px 10px 30px;
	}
	.single-icon p {
		font-size: 14px;
		line-height: 28px;
	}
	.about-text h3 {
		font-size: 24px;
		line-height: 34px;
	}
	.testimonial-inner {
		padding: 0px 10px;
	}
	.review-head h3 {
		font-size: 24px;
		line-height: 32px;
	}
	.review-head p {
		font-size: 15px;
	}
	.slide-all-text {
		margin-top: 15px;
	}
	.intro-area-2 .intro-content {
		margin-top: -80px;
	}
	.base {
		right: -58px;
		top: 20px;
	}
	.top-price-inner {
		padding: 30px 30px 30px;
	}
	.top-price-inner::after {
		border-top: 90px solid #0c54ad;
		border-left: 90px solid transparent;
		border-right: 90px solid transparent;
		bottom: -40px;
	}
}

/* small mobile :320px. */
@media (max-width: 767px) {
	.container {
		width: 300px;
	}
	.logo {
		height: inherit;
		left: 0;
		padding: 0;
		position: absolute;
		top: 4px;
		z-index: 999999;
		max-width: 130px;
	}
	.logo a,
	.header-two .logo a {
		padding: 0px;
	}
	.intro-bg {
		display: none;
	}
	.intro-area {
		float: none;
		width: 100%;
		height: 100%;
		min-height: 460px;
	}
	.bg-wrapper,
	.bg-wrapper img {
		width: 100%;
		height: 100%;
		min-height: 460px;
		object-fit: cover;
	}
	.intro-content {
		margin-top: -120px;
	}
	.layer-1 h2,
	.intro-area-2 .layer-1 h2 {
		font-size: 28px;
		line-height: 38px;
		margin-bottom: 15px;
	}
	.layer-2 p {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 10px;
	}
	.footer-area {
		padding: 120px 0px 100px;
	}
	.suscribe-input {
		width: 100%;
	}
	.about-area {
		position: relative;
		background: #f9f9f9;
	}
	.about-text h3 {
		font-size: 24px;
		line-height: 35px;
	}
	.single-service {
		padding: 30px 15px;
	}
	.single-service h3 {
		font-size: 23px;
		line-height: 34px;
	}
	.service-content h4 {
		font-size: 20px;
	}
	.tab-menu ul.nav li {
		float: none;
		width: 100%;
	}
	.cha-title {
		width: 65%;
	}
	.machine-text {
		margin-top: 40px;
	}
	.machine-text h3 {
		font-size: 23px;
		line-height: 32px;
	}
	.section-headline h3 {
		font-size: 26px;
		line-height: 38px;
	}
	.section-headline p {
		font-size: 15px;
	}
	.single-achive {
		padding: 30px 15px;
	}
	.single-achive {
		padding: 30px 15px;
		margin-bottom: 30px;
	}
	.digital-services {
		width: 100%;
		float: none;
	}
	.testimonial-inner {
		padding: 0px;
		margin-bottom: 30px;
	}
	.review-head h3 {
		font-size: 24px;
		line-height: 32px;
	}
	.review-head p {
		font-size: 15px;
	}
	.we-services {
		margin-top: 30px;
	}
	.project-dec h4 {
		font-size: 19px;
	}
	.blog-content {
		padding: 30px 15px;
	}
	.achive-number {
		font-size: 34px;
		line-height: 44px;
	}
	.blog-meta span {
		font-size: 13px;
	}
	.footer-content.logo-footer {
		padding-right: 0px;
	}
	.footer-content {
		margin-bottom: 40px;
	}
	.last-content {
		margin-bottom: 0px;
	}
	.blog-content a h4 {
		font-size: 19px;
	}
	.breadcrumb {
		background-color: transparent;
		margin-bottom: 0;
		padding: 200px 0px 150px;
	}
	.left-faq {
		padding-right: 0px;
	}
	.footer-content.logo-footer {
		padding-right: 0px;
	}
	.right-faq {
		padding-left: 0px;
	}
	.page-head-left {
		margin-right: 0px;
	}
	.single-well h3 {
		font-size: 24px;
	}
	.single-well h4 {
		font-size: 20px;
	}
	.single-well.last-content {
		margin-top: 30px;
	}
	.project-details h3 {
		font-size: 24px;
	}
	.right-side {
		padding-left: 0px;
		margin-top: 50px;
	}
	.blog-details .blog-content h4 {
		font-size: 18px;
		line-height: 30px;
	}
	blockquote {
		padding: 20px 15px 40px 50px;
	}
	blockquote::before {
		left: 8px;
	}
	.blog-details .blog-content h5 {
		font-size: 17px;
	}
	.related-post-list .recent-single-post {
		width: 100%;
		float: none;
		padding: 0px;
		margin-bottom: 30px;
	}
	.related-post-list .recent-single-post:last-child {
		padding: 0px;
	}
	.threaded-comments {
		margin-left: 15px;
	}
	.contact-icon {
		margin-bottom: 30px;
		padding: 30px 15px 30px;
	}
	.contact-images {
		margin: 50px 0px;
	}
	.intro-area-2 .intro-content {
		margin-top: -110px;
	}
	.about-content {
		margin-bottom: 40px;
	}
	.slide-all-text {
		margin-top: 0px;
	}
	.top-price-inner {
		padding: 30px 30px 30px;
	}
	.base {
		right: -50px;
		top: 25px;
	}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 450px;
	}
	.single-icon p {
		font-size: 14px;
	}
	.banner-content {
		padding: 0px 20px;
	}
}

@media only screen and (max-width: 460px) {
	.mobile-menu img {
		margin-left: 20px;
	}
}

@media only screen and (min-width: 992px) {
	.about-text {
		padding: 50px;
	}
}

@media only screen and (min-width: 1200px) {
	.about-text {
		padding: 100px;
	}
}

@media only screen and (max-width: 768px) {
	.tabe-img img {
		margin-top: 50px;
	}

	.about-spacing {
		margin-top: 50px;
	}
}
